<div class="jumbotron">
    <h1>Trondheimsfjord</h1>
    <p class="lead">Mobilapp for vi som krysser fjorden</p>
    <p><a href="http://trondheimsfjord.azurewebsites.net/" class="btn btn-primary btn-lg">Last ned &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Blabla</h2>
        <p>Trondheimsfjord gir deg oversikt over hurtigbåter og ferger på Trondheimsfjorden</p>
        <p><a class="btn btn-default" href="http://trondheimsfjord.azurewebsites.net/">Les mer &raquo;</a></p>
    </div>
</div>
